.about {
    background-color: $hero-bgc;

    padding-bottom: 42px;
}
.about__container {
    position: relative;
}
.about__container,
.information__container--about {
    display: flex;

    flex-direction: column;
    text-align: center;
    align-items: center;
}
.about__onTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    width: 210px;

    text-transform: uppercase;

    margin-bottom: 12px;
}
.about__title {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 1.27;

    width: 200px;

    text-transform: uppercase;

    margin-bottom: 54px;
}
.about__img {
    position: relative;
    z-index: 2;

    border-radius: 50%;

    margin-bottom: 40px;
}
.about__circle {
    position: absolute;
    
    left: 50%;
    top: 320px;

    width: 279px;
    height: 279px;

    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

    transform: translate(-50%, -50%);

    border-radius: 50%;
}
.text__box--about {
    display: flex;

    flex-direction: column;
    gap: 4px;
}
.about__text {
    font-size: 12px;
    line-height: 1.76;

    width: 220px;
}
.about__text--invisible {
    display: none;
}
.about__text--bigger {
    letter-spacing: 0.04em;
}
.about__button {
    display: flex;
    align-items: center;
    text-align: center;

    width: 162px;
    height: 42px;

    border-radius: 10px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.button__text--about {
    display: flex;
    align-items: center;

    gap: 5px;
    
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;

    color: $second-text-color;
}
@media screen and (min-width: 768px) {
    .information__container--about {
        display: flex;
        flex-direction: row;
        text-align: start;

        gap: 32px;
    }
    .about__onTitle {
        width: auto;

        font-size: 22px;
    }
    .about__title {
        width: 454px;

        font-size: 34px;

        margin-bottom: 80px;
    }
    .about__img {
        margin-top: auto;
        margin-bottom: auto;
    }
    .about__circle {
        width: 330px;
        height: 330px;

        top: 310px;
        left: 201px;
    }
    .text__box--about {
        gap: 8px;
    }
    .about__text {
        width: 334px;
    }
    .about__text--invisible {
        display: inline-block;

        line-height: 1.94;
    }
    .about__button {
        margin-top: 50px;
        margin-left: 0;
    }
}
@media screen and (min-width: 1200px) {
    .information__container--about {
        gap: 108px;
    }
    .about__circle {
        width: 490px;
        height: 490px;

        left: 314px;
        top: 370px;
    }
    .about__text {
        font-size: 14px;
        line-height: 1.94;

        width: 463px;
    }
    .about__text--bigger {
        font-size: 16px;
        line-height: 1.76;
    }
}