.customerReviews {
    background-image: url(../../img/iceCream_bgc.jpg);
    background-position: center;
}
.customerReviews__title {
    display: none;
}
.comment__item--customerReviews {
    display: none;

    margin-left: auto;
    margin-right: auto;
}
.customerReviews__item--visible {
    display: block;
}
.item__img--customerReviews {
    display: block;
    border-radius: 50%;

    margin: 126px auto 32px;
}
.item__comment--customerReviews {
    background-color: $hero-bgc;

    width: 280px;

    margin: 0 auto 30px;
    padding: 34px 39px;
    border-radius: 10px;

    font-size: 12px;
    line-height: 2.55;

    text-align: center;
}
.item__date--customerReviews {
    text-align: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;

    color: $second-text-color;

    margin-bottom: 14px;
}
.dots__box--customerReviews {
    display: flex;
    flex-wrap: wrap;

    width: 72px;

    gap: 18px;
    margin-right: auto;
    margin-left: auto;
}
.customerReviews__dot {
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background-color: $third-bgc;
}
.customerReviews__dot--active {
    background-color: $hero-bgc;
}

@media screen and (min-width: 768px) {
    .item__img--customerReviews {
        margin-top: 165px;
    }
    .item__comment--customerReviews {
        width: 705px;
        
        padding: 29px 80px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
    }
    .item__date--customerReviews {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;
    }
}
@media screen and (min-width: 1200px) {
    .item__img--customerReviews {
        margin-top: 395px;
    }
    .item__comment--customerReviews {
        width: 968px;
        
        padding: 39px 74px;

        font-size: 16px;
    }
}