.customerReviews {
  background-image: url(../../img/iceCream_bgc.jpg);
  background-position: center;
}

.customerReviews__title {
  display: none;
}

.comment__item--customerReviews {
  display: none;
}

.customerReviews__item--visible {
  display: block;
}

.item__img--customerReviews {
  border-radius: 50%;
  margin-bottom: 32px;
}
