.hero {
  background-color: #84A178;
  padding-top: 110px;
}

.hero__title {
  width: 247px;
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.46;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
